<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <div *ngIf="!loginService.roleMatch(['admin'])">
        <li *ngFor="let productCategory of productCategories">
          <a
            (click)="getProductByCategory(productCategory.id)"
            routerLinkActive="active-link"
            style="cursor: pointer"
          >
            {{ productCategory.categoryName }}
          </a>
        </li>
      </div>

      <li *ngIf="loginService.roleMatch(['admin'])">
        <a routerLink="admin/category" routerLinkActive="active-link">
          Category
        </a>
      </li>

      <li *ngIf="loginService.roleMatch(['admin'])">
        <a routerLink="admin/product" routerLinkActive="active-link">
          Product
        </a>
      </li>
    </ul>
  </nav>
</div>
